__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/

data/raw_images/*
!data/raw_images/.gitkeep

results/baseline/*
!results/baseline/.gitkeep
results/mitigated/*
!results/mitigated/.gitkeep

*.ckpt
*.pth
*.safetensors
